<h2>Add a Note: <h2>
<form action="/addNote" method="POST">

<p>What class is this note for?:</p>
<div>
   {{#each c as |cl|}}
      <input type="checkbox" id='noteC' name={{cl.name}}>
      <label for={{cl.name}}>{{cl.name}}</label>  
    {{/each}}
</div>

<div>
<label for="noteT">What Title of this Note? :</label>
<input type="string" id="noteT" name="noteT" required>
</div>
<p>Write your notes here: </p>
<textarea class="addNoteBlock" name="note" style="width:250px;height:150px;"></textarea>

<div>
<input class="button" type="submit" value="Add Note">
</div>

</form>
