<div class="error">
  {{#if errors}}
    <p>{{errors}}</p>
  {{/if}}
</div>
<form method="POST" action="reg">
	<div>Username: <input type="text" name="username" value=""></div>
	<div>Password: <input type="password" name="password" value=""></div>
	<div><input type="submit" value="register"></div>
</form>