<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="icon" href="css/icon.png"/>
<title></title>
<div class="header">
  <a href="/" class="logo">Study Easy!</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/classes">Classes</a>
    <a href="/addClass">Add Class</a>
    <a href="/notes">Notes</a>
    <a href="/addNote">Add Note</a>
    <a href="/study">STUDY!</a>
    <a href="/login">Login</a>
    <a href="/reg">Register</a>
    <a href="/logout">Logout</a>
  </div>
</div>
</head>
<body>
	{{{body}}}
</body>
</html>