{{#if user}}
	<h2> You you are already logged in.</h2>
{{else}}
	<div class="error">
	  {{#if errors}}
	    <p>{{errors}}</p>
	  {{/if}}
	</div>
	<form method="POST" action="login">
		<div>Username: <input type="text" name="username" value=""></div>
		<div>Password: <input type="password" name="password" value=""></div>
		<div><input type="submit" value="login"></div>
	</form>
{{/if}}